.fonthead {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #741b7c;
}

.links {
    font-family: 'Roboto', sans-serif !important;
    font-size: 17px;
    font-weight: 700;
    color: #37ae4e !important;
}

.navbar {
    background-color: #741b7c;
    color: #622222; /* Set the text color for the navbar */
    font-weight: 800;
}

.navtxt {
    border: 5px solid antiquewhite; 
    border: 1px solid #52af50; /* Set the border color */
    border-radius: 15px;
    padding: 40px;
    border-bottom-style: solid;
    background-color: antiquewhite; /* Set the background color inside the border */
}

.btnnav {
    background-color: antiquewhite !important; /* Force the background color */
    color: #622222 !important; /* Force the text color */
    font-weight: 800 !important;
}
