
/* body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
  font-family: Arial, sans-serif;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
}

/* Custom scrollbar styles for WebKit-based browsers */
::-webkit-scrollbar {
  width: 15px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #a87eac; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #752070; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #45033f; /* Color of the scrollbar thumb on hover */
}

/* Header */
.header_section {
  padding: 7px 0;
  background-color: #420d65;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.nav-link {
  font-size: 15px;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #b689c0;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #b689c0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/* .nav_search_form {
  position: absolute;
  top: 50%;
  right: 165px;
  transform: translateY(-50%) translateX(150%); 
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  z-index: 999;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.nav-search-input {
  width: 100%;
  width: 850px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.nav_search_form.active {
  width: 100%;
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) translateX(0);
  width: 900px;
}


.nav_search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav_search-btn img {
  width: 28px;
  height: 28px;
}

@media (max-width: 500px) {
  .nav_search-btn {
    display: none;
  }
} */

/* Dropdown menu styles */
.dropdown-menu {
  display: none; /* Hide the dropdown by default */
  position: absolute;
  top: 100%; /* Position below the parent */
  left: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  border: 2px solid #420d65 !important;
}

.dropdown-item {
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  display: block;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Show the dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 990px) {
  .dropdown-menu {
    display: none;
  }
  .nav-item.dropdown:hover .dropdown-menu {
    display: none;
  }
  
}
/* Header */



/* Slider */
/* Slideshow container */
.slideshow-container {
    max-width: 5000px;
    position: relative;
    margin: auto;
    margin: 0 auto; /* Center the slider horizontally */
    padding-top: 20px;
    top: 0; /* Ensure the container is at the top */
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 25px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #636161;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #7a3a7b;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* Slider */


/* Cards near top*/
.product-cards-top {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;
    gap: 20px;
    align-items: stretch;
}

/* .product-card-top {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 23%;
    text-align: center;
    padding: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
} */

.product-card-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will push the button to the bottom */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 23%;
  text-align: center;
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 100%; /* Ensure cards take full available height */
  /* height: 150px; */
  min-height: 300px;
}

.product-card-top:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card-top img {
    max-width: 100%;  
    border-radius: 10px;
}


.product-card-top p {
    font-size: 0.9em;
    color: #666;
    margin: 10px 0;
}

.product-card-top button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card-top button:hover {
    background-color: #0056b3;
}

/* Media query for phones */
@media (max-width: 768px) {
  .product-cards-top {
    flex-direction: column; /* Stack the cards vertically */
    align-items: center; /* Center the cards horizontally */
  }

  .product-card-top {
    width: 80%; /* Adjust the width of the cards */
    margin-bottom: 20px; /* Add space between the cards */
  }
}
/* Cards near top */


/* Cards near footer*/
.product-cards {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1200px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.product-card{
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 15px;
  width: 23%;
  text-align: center;
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  flex: 1 1 calc(50% - 10px); /* Каждая карточка занимает 50% ширины с небольшим отступом */
  margin-bottom: 50px; /* Отступ между карточками */
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
  max-width: 100%;
  height: fit-content;
  border-radius: 10px;
}


.product-card p {
  font-size: 0.9em;
  color: #666;
  margin: 10px 0;
}

.product-card button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #0056b3;
}


/* Media query for screens 500px or less */
@media (max-width: 500px) {
  .product-card {
    flex: 1 1 calc(50% - 5px); /* Для экранов меньше 500px, делаем карточки немного уже */
    margin-bottom: 15px;
  }
}
/* Cards near footer */


/* Footer */
/* Футер */
.footer {
    background: #420d65;
    padding: 20px 50px;
    text-align: center;
    margin-top: auto; /* Позволяет футеру оставаться внизу страницы */
    position: relative;
    z-index: 1;
}

.social-icon,
.menu {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.5s;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px;
    font-size: 1rem;
}

@media (max-width: 500px) {
  .menu__item {
    display: none;
  }
}

/* waves */
.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../../img/wave.png");
    background-size: 1000px 100px;
}
  
.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

/* animations */
@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* Footer */



.contact_section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 290px;
}

.contact_section .container-bg {
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

.contact_section .heading_container {
  margin-bottom: 30px;
}

.contact_section .row {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contact_section form {
  padding-right: 35px;
  padding: 45px 20px;
}

.contact_section input {
  width: 100%;
  border: 1px solid #919191;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: transparent;
  outline: none;
  color: #101010;
}

.contact_section input::-webkit-input-placeholder {
  color: #131313;
}

.contact_section input:-ms-input-placeholder {
  color: #131313;
}

.contact_section input::-ms-input-placeholder {
  color: #131313;
}

.contact_section input::placeholder {
  color: #131313;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  display: inline-block;
  padding: 12px 45px;
  background-color: #420d65;
  color: #ffffff;
  border: 1px solid #420d65;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
  color: #fff;
  margin: 35px auto 0 auto;
}

.contact_section button:hover {
  background-color: transparent;
  color: #420d65;
}

.contact_section .map_container {
  height: 100%;
  min-height: 375px;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}


  
/* Testimonial */
:root {
  --quote-bg-color: #c785d0;
}

.testimonial-section {
  background-color: #420d65;
  margin-top: 100px;
}

.responsive-quote {
  position: relative;
  margin: 130px 0;
  padding: 40px;
  background-color: var(--quote-bg-color);
  border-radius: 16px;
}

.responsive-quote::before {
  content: url("data:image/svg+xml,%3Csvg class='quote-svg' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.56863 4H4.43137C2.56863 4 1 5.6 1 7.5V10.8C1 12.7 2.56863 14.3 4.43137 14.3H6.78431C7.56863 14.3 8.35294 14 9.03922 13.6V15.7C9.03922 17 8.05882 18 6.78431 18H5.21569C4.62745 18 4.23529 18.4 4.23529 19C4.23529 19.6 4.62745 20 5.21569 20H6.78431C9.13725 20 11 18.1 11 15.7V10V7.5C11 5.6 9.43137 4 7.56863 4Z'%3E%3C/path%3E%3Cpath d='M19.6638 4H16.4299C14.5679 4 13 5.6 13 7.5V10.8C13 12.7 14.5679 14.3 16.4299 14.3H18.7818C19.5658 14.3 20.3497 14 21.0357 13.6V15.7C21.0357 17 20.0557 18 18.7818 18H17.2138C16.6259 18 16.2339 18.4 16.2339 19C16.2339 19.6 16.6259 20 17.2138 20H18.7818C21.1337 20 22.9956 18.1 22.9956 15.7V10V7.5C23.0936 5.6 21.5257 4 19.6638 4Z'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  top: -10px;
  left: -10px;
  transform: scale(2);
  opacity: 0.1;
}

.responsive-quote::after {
  content: url("data:image/svg+xml,%3Csvg class='quote-svg' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.56863 4H4.43137C2.56863 4 1 5.6 1 7.5V10.8C1 12.7 2.56863 14.3 4.43137 14.3H6.78431C7.56863 14.3 8.35294 14 9.03922 13.6V15.7C9.03922 17 8.05882 18 6.78431 18H5.21569C4.62745 18 4.23529 18.4 4.23529 19C4.23529 19.6 4.62745 20 5.21569 20H6.78431C9.13725 20 11 18.1 11 15.7V10V7.5C11 5.6 9.43137 4 7.56863 4Z'%3E%3C/path%3E%3Cpath d='M19.6638 4H16.4299C14.5679 4 13 5.6 13 7.5V10.8C13 12.7 14.5679 14.3 16.4299 14.3H18.7818C19.5658 14.3 20.3497 14 21.0357 13.6V15.7C21.0357 17 20.0557 18 18.7818 18H17.2138C16.6259 18 16.2339 18.4 16.2339 19C16.2339 19.6 16.6259 20 17.2138 20H18.7818C21.1337 20 22.9956 18.1 22.9956 15.7V10V7.5C23.0936 5.6 21.5257 4 19.6638 4Z'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  bottom: -10px;
  right: -10px;
  transform: scale(2) rotate(180deg);
  opacity: 0.1;
}
.responsive-quote p {
  font-size: calc(16px + 0.25vw);
}

.responsive-quote cite {
  font-size: calc(14px + 0.25vw);
}

.parent-container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .responsive-quote {
    font-size: 1.2em; /* Уменьшаем размер текста на маленьких экранах */
    padding: 15px; /* Уменьшаем отступы */
    margin: 10px;  /* Уменьшаем внешние отступы */
    line-height: 1.4; /* Немного уменьшаем межстрочный интервал */
  }
}

/* Testimonial */


.productsh {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin: 20px auto;
  max-width: 1200px;
  gap: 20px;
  font-weight: 1000;
  font-size: 30px;
}

.aboutus {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin: 70px auto;
  max-width: 1200px;
  font-weight: 1000;
  font-size: 30px;
  margin-bottom: -55px;
}


/* About shop */
.info-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  background-color: #ffffff;
  /* border-radius: 10px; */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  /* margin: 70px; */
}

.info-item {
  text-align: center;
  width: 20%;
}

.info-item img {
  width: 70px;
  margin-bottom: 10px;
}

.info-item p {
  font-size: 14px;
  color: #333333;
}

.info-item strong {
  color: #333333;
}


@media (max-width: 768px) {
  .info-section {
    flex-direction: column;
  }

  .info-item {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* About shop */



.contact-section {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.contact-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns for the table-like layout */
  gap: 20px;
  margin-top: 20px;
}

.contact-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.contact-box img {
  display: block;
  margin: 0 auto 10px auto;
  width: 50px;
}

.contact-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-box p {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.contact-box a {
  color: #007bff;
  text-decoration: none;
}

.contact-box a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
      grid-template-columns: 1fr; /* Single column layout for smaller screens */
  }
}




/* product */
#productdetails {
  display: flex;
  margin-top: 110px;
  margin-bottom: 110px;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  padding: 50px;
  box-sizing: border-box;
  /* left: 100px; */
  left: 15%;
  position: relative;
}

/* .section-p1 {
  justify-content: center !important; 
  align-items: center !important;
} */

.single-pro-image {
  justify-content: center;
  align-items: center;
}

/* .single-pro-details {
  justify-content: center;
  align-items: center;
} */

#productdetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}

.small-image-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#productdetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#productdetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
  font-weight: 700;
}

#productdetails .single-pro-details h2 {
  font-size: 26px;
  font-weight: 700;
}

#productdetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#productdetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#productdetails .single-pro-details button {
  background-color: #7a3a7b;
  color: #e8e8e8;
  border-radius: 5px;
  padding: 5px 15px;
}

#productdetails .single-pro-details input:focus {
  outline: none;
}

#productdetails .single-pro-details span {
  line-height: 25px;
}

.gcardt {
  animation: animt 5s ease-in-out infinite;
}

@keyframes animt {
  0% {
    color: #9a73a1;
  }

  50% {
    color: #8b2c84;
  }

  100% {
    color: #5c0a55;
  }
}

/* product */


/* product */
@media (max-width: 768px) {
  #productdetails {
    display: flex;
    flex-direction: column;
  }

  #productdetails .single-pro-image {
      width: 100%;
      margin-right: 0px;
  }

  #productdetails .single-pro-details {
      width: 100%;
  }
}

/* product */


/* Search */
.search{
  display: flex;
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  align-items: center;
}

.container_search {
  padding: 30px !important;
}

.search input {
  flex-grow: 1;
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search form {
  display: flex;
  width: 100%; 
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: #420d65;
}

.search button:hover {
  background:#8311cf;
}

/* Search */


/* Cart */
.untree_co-section {
  padding: 7rem 0; 
  margin-top: 20px;
  margin-bottom: 400px;
}

.form-control {
  height: 50px;
  border-radius: 10px;
  font-family: "Inter", sans-serif; 
}

.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #3b5d50;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.form-control::-webkit-input-placeholder {
  font-size: 14px; 
}
.form-control::-moz-placeholder {
  font-size: 14px; 
}
.form-control:-ms-input-placeholder {
  font-size: 14px;
}
.form-control:-moz-placeholder {
  font-size: 14px; 
}

.service {
  line-height: 1.5; 
}

.service .service-icon {
  border-radius: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #3b5d50;
  margin-right: 20px;
  color: #ffffff; 
}

textarea {
  height: auto !important; 
}

.site-blocks-table {
  overflow: auto; 
}
.site-blocks-table .product-thumbnail {
  width: 200px; 
}

.site-blocks-table .btn {
  padding: 2px 10px; 
}

.site-blocks-table thead th {
  padding: 30px;
  text-align: center;
  border-width: 0px !important;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px; 
}

.site-blocks-table td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8); 
}

.site-blocks-table tbody tr:first-child td {
  border-top: 1px solid #3b5d50 !important; 
}

.site-blocks-table .btn {
  background: none !important;
  color: #000000;
  border: none;
  height: auto !important; 
}

.btnc {
  background-color: #420d65 !important;
  color: #ffffff;
}

/* Cart */


/* Filter */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-sidebar {
  width: 350px;
  padding: 20px;
  background-color: #d0b4d1;
  border-radius: 8px;
  margin-left: auto;
  gap: 20px;
  width: 20%; /* Adjust the width as needed */
  margin-right: 20px; /* Space between sidebar and product cards */
  border: 5px solid #420d65;
}

.price-filter, .filter-section {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.price-filter {
  align-items: center;
  justify-content: center;
}

.price-filter input[type="number"] {
  width: 70px;
  margin-right: 10px;
}

.price-range input {
  width: 100%;
  margin: 10px 0;
}

.filter-option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

}

.filter-option label {
  margin-left: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}


/* MEDIA QUERY for smaller screens */
/* On smaller screens (below 768px), stack the filter above the product cards */
@media (max-width: 1500px) {
  .product-container {
    flex-direction: column; /* Stack elements vertically */
  }

  .filter-sidebar {
    width: 100%; /* Sidebar takes full width */
    margin-right: 0;
    margin-bottom: 20px; /* Adds space between sidebar and product cards */
  }
}

/* Filter */



/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  text-align: center;
  background-color: #fefefe;
  justify-content: center;
  align-items: center;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 5px solid #5a1f66;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 700px; /* Maximum width */
  border-radius: 10px; /* Rounded corners */
}

.close-btn {
  color: #8512b7;
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




/* Search suggestions clues */
.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  /* border: 1px solid #ddd; */
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 60px;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

/* Search suggestions clues */